.part4-container {
    width: auto;
    height: 33rem;
    color: white;
}

.part4-imageContainer > img{
    height: 33rem;
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
     z-index: -999;
     position: absolute;
}
.part4-container>h1 {
    padding: 2rem;
    font-size: 2.4rem;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 10rem;

}

.part4-container>p {
    padding: 2rem;
    padding-left: 10rem;
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: justify;
    padding-right: 12rem;

}

.part4-box{
    display: flex;
    justify-content: space-around;
    padding-left: 10rem;
    padding-right: 12rem;
    padding-top: 5rem;
}
.animation-box{
    text-align: center;
}
.animation-box > h1{
    font-size: 6rem;
}