@media only screen and (min-width: 601px) and (max-width: 820px){
.part3-container{
        display: flex; 
        flex-direction: column;
        color: white;
        height: auto;
       }
       .part3-box{
           margin-left: 5rem;
           margin-top: 3rem;
           height: 15rem;
           display: flex;
           flex-direction: column;
           justify-content: space-around;
           font-size:1rem;   
           width: 85%;
            
       }
       .part3-box >p{
           width: 100%;
           text-align: justify;
           line-height: 1.82rem;
           font-size: 1.2rem;
       }
       .part3-box2{
           display: flex;
           flex-direction: row;
           width: 89%;
           margin: 0rem !important;
           margin-left: 5rem !important;
       }
       .part3-image-box{
           width: 90%;
           height:auto;
           display: flex;
           flex-direction: column;
           object-fit: cover;
           padding: 0rem !important;
           margin: 0rem !important;
    
       }
       .part3-image-box > :first-child{
        margin-right: 1rem;
       }
       .part3-image-box > img{
           width: 80%;
           height: 312px;
           margin-top: 1rem;
           object-fit: cover;   
           margin: 0.3rem !important;
           padding-left: 0rem!important;
           padding-right: 0rem!important;
           
       }
       .part3-image-box > p{
           padding-left: 1rem; 
           font-size: 1.2rem;
           text-align: justify;
           line-height: 1.8rem;
           width: 80%;
           height: 15rem;
       }
       .button-box {
        width: 12rem;
        margin-bottom: 1rem;
       }
       .button-box > button{
           margin: 0rem;
           margin-top: 1rem;
           padding: 0.7rem 0.6rem;
           margin-left: 0.9rem;
       }
}
